body {
  margin: 0;
  font-family: "Bubblegum Sans", Helvetica, Arial, sans-serif;
  background-color: skyblue
}

a {
  color: inherit;
  text-decoration: none;
}

.controlOne {
  z-index: 1;
  background-image: url("/images/controls1.jpg");
  background-repeat: no-repeat;
}

.controlTwo {
  z-index: 1;
  background-image: url("/images/controls2.jpg");
  background-repeat: no-repeat;
}

.menu {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "single multiplayer"
    "settings highscore";
    a {
      text-decoration: none;
    }
}

.singleplayer {
  grid-area: single;
  background-image: url("/images/singleplayer.jpeg");
  background-size: 100% 100%
}


.multiplayer {
  grid-area: multiplayer;
  background-image: url("/images/multiplayer.jpg");
  background-size: 100% 100%;
}


.settings {
  grid-area: settings;
  background-image: url("/images/settings.jpg");
  background-size: 100% 100%;
}


.tutorial {
  grid-area: highscore;
  background-image: url("/images/tutorial.jpg");
  background-size: 100% 100%;
}

.overlay {
  position: relative;
  z-index:0;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0.5;
  z-index:0;
}

.overlay:hover:after  {
  opacity: 0;
}

.singleplayer:after {
  background-color: rgb(253,214,215);
}

.multiplayer:after {
  background-color: rgb(219,239,237);
}

.settings:after {
  background-color: rgb(229,235,197);
}

.tutorial:after {
  background-color: rgb(221,219,243);
}

h1 {
  padding-left: .5em;
  z-index: 1;
  color: white;
  text-shadow:
  3px 3px 0 #000,
-1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

h2 {
  padding-left: 1em;
  color: white;
}

h3 {
  padding-left: .3em;
  padding-left: 1em;
  color: white;
  text-shadow:
  3px 3px 0 #000,
-1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

h4 {
  padding-left: .4em;
  padding-left: 1em;
  color: white;
  text-shadow:
  3px 3px 0 #000,
-1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

p {
  color: black;
}

#control1 {
  background-color: skyblue;
  grid-area: bottomleft;
  background-position: center;
}

#control2 {
  background-color: skyblue;
  grid-area: bottomright;
  background-position: center;
}

#tutorial {
  background-color: skyblue;
  text-align: center;
}

#game {
  width: 100vw;
  background-color: skyblue;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "topleft grid topright"
  "middleleft grid middleright"
  "bottomleft grid bottomright";
}

#middlegrid {
  grid-area: grid;
  background-color: white;
  margin: auto;
  border-left: .5px solid black;
  border-right: .5px solid black;
}

#score {
  grid-area:topleft;
  font-size: 2em;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  text-align: center;
  padding-right: .5em;
}

#timer {
  grid-area: middleleft;
  font-size: 2em;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  text-align: center;
  padding-right: .5em;
}

#middleright {
  grid-area: middleright;
  display: flex;
  justify-content: space-around;
}

#gameMusic {


}

#topright {
  grid-area: topright;
}

#start {
}

#nextpuyo {
  display: flex;
  flex-flow: column;
  h2 {
    color: white;
    display: inline;
    column-span: none;
  }
}

#pause {
  text-align: center;
  margin: auto;
  color: white;
  text-shadow:
  3px 3px 0 #000,
-1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

#gameover {
  text-align: center;
  margin: auto;
  color: white;
  z-index: 10;
  text-shadow:
  3px 3px 0 #000,
-1px -1px 0 #000,
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
  background-color: skyblue;
}
